.page.theme_light {
  --bg-cover-image: url(../images/cover-image-light.png); /*фон*/
  --accent-color: #353438;
  --main-bg-color: #353438;
  --nav-color: #353438;
  --main-heading-color: #353438;
  --main-text-color: #353438;
  --section-heading-color: #353438;
  --header-logo-color: #ffc2e6;
  --header-shadow-color: #FF8DCB;
  --footer-logo-color: #ffc2e6;
  --link-color: #353438;
  --link-shadow-color: #FF8DCB;
  --link-hover-color: #353438;
  --decoration-color: #FF8DCB;
}
.page.theme_light .header__rec {
  content: none;
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff;
    --main-text-color: #353438;
    --nav-color: #353438;
    --main-heading-color: #353438;
    --section-heading-color: #353438;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --link-color: #353438;
    --link-shadow-color: #353438;
    --link-hover-color: #353438;
}
.header__theme-menu-button:active {
  border: 1px solid var(--nav-color);
  }
.header__theme-menu-button:hover {
  --nav-hover-color: #32312d60;
  }
}
