.page {
  font-family: var(--main-font, monospace);
  background-color: var(--main-bg-color);
  background-image: var(--bg-cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  bottom: 10px;
  left: 10px;
}

.header__rec {
  display: flex;
  position: absolute;
  font-family: var(--main-font, monospace);
  color: var(--decoration-color);
  text-transform: uppercase;
  right: 20px;
  top: 10px;
  line-height: 25px;
  font-size: var(--main-text-size);
  gap: var(--min-gap);
  align-items: center;
}

@media (width >= 768px) {
  .header__rec {
    top: 20px;
    right: 30px;
  }
}

.header__rec::after {
  content: '';
  display: inline-block;
  color: var(--decoration-color);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--decoration-color);
  box-shadow: 0px 0px 4px 2px var(--decoration-color);
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  padding-top: 5px;
}

@media (width >= 768px) {
  .header__theme-menu {
    padding: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    padding: 0px;
  }
}

.header__theme-menu-button {
  display: block;
  min-inline-size: 70px;
  min-block-size: 26px;
  font-family: var(--main-font, monospace);
  color: var(--button-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  font-size: var(--main-text-size);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-active-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-focus-color);
  outline: none;  
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button.active {
  border-bottom: 1px solid var(--button-focus-color);
  outline: none;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 0 10px;
  height: 100vh;
  align-items: center;
  min-block-size: 668px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    gap: 0;
    min-height: 100vh;
  }
}

.title-shared {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-color);
  line-height: 82.5%;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  font-family: var(--main-font, monospace);
  color: var(--text-two-color);
  background-color: var(--bg-accent-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 23.4px;
}

.header__text {
  margin-block-end: 10px;
}

@media (width >= 768px) {
  .header__text {
    width: 50%;
    justify-self: end;
    margin: 0;
  }
}

.section__title {
  color: var(--main-text-color);
  font-family: var(--main-font, monospace);
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: 23.4px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: var(--min-gap);
}

.section-article__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__text {
  color: var(--section-text-color);
  font-family: var(--main-font, monospace);
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 23.4px;
}

.article__title {
  font-weight: 400;
}

.section__what {
  grid-column: 1 / -1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--min-gap);
}

.article:not(:last-of-type) {
  margin-bottom: 20px;
}

.section-article__list-item {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 60px 20px;
  }

  .section__why {
    grid-column: 1 / -1;
  }
}

@media (width >= 768px) {
  .section__what .section-article__list {
    grid-column: 1 / -1;
  }
}

@media (width >= 768px) {
  .section__how {
    gap: 20px; 
    grid-column: 1 / -1;
  }

  .section__how .section-article__list {
    grid-column: 2;
  }
}

.section-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (width >= 768px) {
  .section-article {
  grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .section-article {
    gap: 10px;
  }
}

@media (width >= 1024px) {
  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__what .section-article__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }
}

.word__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.word__link:hover {
  border-block-end: 1px solid var(--link-hover-color);
}

.word__link:focus {
  outline: 1px solid var(--link-focus-color);

}

.word__link:focus-visible {
  outline: 1px solid var(--link-focus-color);
}

.gallery__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media (width >= 768px) {
  .gallery__section {
    display: grid;
    gap: 20px;
    grid-column: 1 / -1;
  }
}

.section__image-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sunset-img {
  grid-area: sunset;
}

.ice-cream-img {
  grid-area: icecream;
}
 
.tape-img {
  grid-area: tape;
} 

.books-img {
  grid-area: books;
}

.street-img {
  grid-area: street;
}

.gallery__item {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
  width: 100%;
} 
 
@media (width >= 768px) {
  .section__image-items {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";
  }
}

.footer {
  display: grid;
  position: relative;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-items: center;
}

.footer__decor {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  .footer__decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 768px) {
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-height: 100vh;
  }
}